.content-wrapper{
    border: 2px solid;
    border-color: #a5a5a5c1;
    width: 1345px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.book-wrapper{
    
    width: 250px;
    height: 350px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.fa-star{
    color: rgb(255, 153, 0);
}
.book-cover{
    width: 175px;
    height: 225px;
    border: 2px solid #620500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    transition: width 0.25s, height 0.25s;
}
.book-cover:hover{
    width: 180px;
    height: 230px;
    border: 2px solid #620500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.book-info{
    margin-left: auto;
    margin: auto;
    text-align: center;
}
.store-header{
    width: 100%;
    background-color: #a5a5a5c1;
    margin-bottom: 5px;
    padding: 5px;
}
.title-link{
    text-decoration:none;
    color:black;
}
.title-link:hover{
    text-decoration:underline;
    color:#620500;
}
.cover-image{
    width: 175px;
    height: 225px;
    transition: width 0.25s, height 0.25s;
}
.cover-image:hover{
    width: 180px;
    height: 230px;
}