@import "reset.css";
@import "login.css";
@import "home.css";
@import "Storefront.css";



:root{
    font-size: 16px;
    /* header colors */
    --Background-header: white;
    --Background-nav: white;
    --text-color-nav: black;
    /* login colors */
      font-family: Garamond, serif;
    --Background-light: #bc831a;
    --Background-dark: #6d420a;
    --Background-blueWhite: aliceblue;
}
.hidden{
    display: none;
}
/* Header```````````````````````` */
#header{
display: flex;
align-items: center; 
justify-content: space-around;
background-color: var(--Background-header); 
color: var(--text-color-nav);

}
label a{
    text-decoration: none;
    color: black;
}
.nav label:hover, .nav label a:hover{
    color:#D58936
}

#lastNav{
    border: none;
}
#noBorder{
    border: none;
}

/* Title`````````````````````````` */
#header h1{
    font-weight: 600;
    padding-right: 1rem;
    font-size: 2.15rem;
    border-radius: 1em;
    padding: 1rem;
}
#title{
    display: flex;
    align-items: center;
}

/* /Title`````````````````````````` */

.nav label{
    margin: 0em 0em 0em 1em;
    padding-right: 1rem;
    border-right: solid 0.05em var(--text-color-nav);
    font-size: 1.15rem;
}

.nav{
    padding-right: 1rem;
    padding: 1rem;
    border-radius: 1em;
    display: flex;
    max-width: 30rem;
}

/* Search Bar ```````````````````` */

#searchBar{
    outline: none;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(155, 152, 152, 0.27);
    border-color: transparent;
}
#searchBar input{
    outline: none;
    border-radius: 1rem;
    background-color: transparent;
    border-color: transparent;
    padding: 0.5rem;
}

#searchBar i {
    padding-left: 1rem;
}


#searchButton{
    outline: none;
    margin: 0.5rem;
    border: solid;
    border-color: transparent;

    border-radius: 1rem;
}

#searchForm{
    display: flex;
}


/* /Search Bar ```````````````````` */

