body::-webkit-scrollbar {
    display: none;
  }
  
#homeCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30rem; */
    /* flex-direction: column; */
    
}
#indexDisplay h1{
    font-size: 4rem;
    font-weight: 600;
    color: black;
    /* padding: 10rem; */
    display: flex;
    align-items: center;
    /* padding: 30rem; */
    flex-direction: column;
    margin-bottom: 5rem;
}
#homeCenter blockquote{
   display: flex;
   background-color: rgb(17, 16, 16);
   color: rgb(246, 246, 246);
   margin: 20rem 15rem;
   /* max-width: 20rem; */
   padding: 1rem;
   border-radius: 0.25rem;
   font-size: 1.5rem;
}

#indexDisplay{
    background-image: url("../imgs/bookbackground3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    /* padding: 5rem 10rem; */
    overflow: hidden;
}

.homeImage{
    margin: 2rem;
    text-align: center;
}

.homeImage h3{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem;

}


/*``````````````````````````````````````````*/

.subTitle{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
    text-align: center;
    border-bottom: solid;
    margin-bottom: 10rem;
}

#recommendations{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
