body::-webkit-scrollbar {
    display: none;
  }
  
#homeCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30rem; */
    /* flex-direction: column; */
    
}
#indexDisplay h1{
    font-size: 4rem;
    font-weight: 600;
    color: black;
    /* padding: 10rem; */
    display: flex;
    align-items: center;
    /* padding: 30rem; */
    flex-direction: column;
    margin-bottom: 5rem;
}
#homeCenter blockquote{
   display: flex;
   background-color: rgba(7, 6, 6, 0.5);
   color: white;
   margin: 20rem 15rem;
   max-width: 15rem;
   padding: 1rem;
   border-radius: 1rem;
   font-size: 1.5rem;
}

#indexDisplay{
    background-image: url("../imgs/bookbackground3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    /* padding: 5rem 10rem; */
    overflow: hidden;
}

.homeImage{
    padding: 2rem;
}


/*``````````````````````````````````````````*/

.subTitle{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
    text-align: center;
}

#recommendations{
    border-bottom: ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
