@import "reset.css";
@import "login.css";
@import "home.css";


:root{
    font-size: 16px;
    /* header colors */
    --Background-header: white;
    --Background-nav: white;
    --text-color-nav: black;
    /* login colors */
      font-family: Garamond, serif;
    --Background-light: #7c7B72;
    --Background-dark: #9BC4CB;
    --Background-blueWhite: #C8CCCA;
}
.hidden{
    display: none;
}
/* Header```````````````````````` */
#header{
display: flex;
align-items: center; 
justify-content: space-around;
background-color: var(--Background-header); 
color: var(--text-color-nav);

}

.nav label:hover{
    color:#D58936
}

#lastNav{
    border: none;
}
#noBorder{
    border: none;
}

/* Title`````````````````````````` */
#header h1{
    font-weight: 600;
    padding-right: 1rem;
    font-size: 2.15rem;
    border-radius: 1em;
    padding: 1rem;
}
#title{
    display: flex;
    align-items: center;
}

/* /Title`````````````````````````` */

.nav label{
    margin: 0em 0em 0em 1em;
    padding-right: 1rem;
    border-right: solid 0.05em var(--text-color-nav);
    font-size: 1.15rem;
}

.nav{
    padding-right: 1rem;
    padding: 1rem;
    border-radius: 1em;
    display: flex;
    max-width: 30rem;
}
#loginAndReg{
    /* background-color: var(--Background-nav); */
    /* color: var(--Background-header); */
}

